* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
    --main-colour: #24874E;
}

body {
    background-color: white;
    width: 100vw;
}

.content {
    display: flex;
    height: 100%;
}

.left-side {
    display: none;
}

.right-side {
    display: grid;
    min-height: 100%;
}

.login-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-right: 15px;
}

.login-btn {
    background-color: var(--main-colour);
    color: white;
    border: none;
    cursor: pointer;
    width: 95px;
    height: 35px;
    border-radius: 10px;
    font-size: 1rem;
}

.header {
    justify-self: center;
    align-self: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.header > img {
    width: 70%;
    height: 4rem;
}

.body {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breadcrumbs-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 600;
    color: #717171;
}

.breadcrumb > a,
.breadcrumb> a:visited {
    text-decoration: none;
    color: inherit;
}

.current-page {
    color: black;
}

.breadcrumb:not(.current-page) {
    cursor: pointer;
}

.breadcrumb:hover:not(.current-page) {
    color: var(--main-colour);
}

.body > h4 {
    width: 80%;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 30px 0;
    text-align: center;
}

.logo-colour {
    color: var(--main-colour);
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #9A9A9A;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    min-width: 100%;
}

.choice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
    padding: 8px;
    height: 71px;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 30px 0px rgba(154, 154, 154, 0.75);
    position: relative;
}

#search {
    margin-top: 33px;
    flex-basis: 70%;
}

#search > input[type='text'],
input[type='number'] {
    text-align: center;
}

#search > input[type='text'],
#customDonation > input[type='text'],
input[type='number'] {
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 18px;
}

input[type='text']::placeholder,
input[type='number']::placeholder {
    color: #9A9A9A;
    font-size: 0.9rem;
}

#search > input[type='text']:checked
input[type='number']:checked {
    outline: none;
    border: none;
}

input[type='radio'] { 
    width: 16px;
    height: 16px;
    cursor: pointer;
    visibility:hidden;
    position: absolute;
}

.selection-2 > input[type='number'] {
    font-size: 12px;
    width: 80%;
}

input[type="radio"]:checked {
    accent-color: black;
    visibility:hidden;
}

.choice:has(input[type="radio"]:checked),
input[type="radio"]:checked + #otherLocations, 
input[type="radio"]:checked + svg path,
input[type="radio"]:checked + p,
input[type="radio"]:checked + ::placeholder, 
.selection-1:has(input[type="radio"]:checked), 
.selection-2:has(input[type="radio"]:checked) {
    color: white;
    background-color: var(--main-colour);
}

input:focus::placeholder,
input[type="radio"]:checked + :focus::placeholder {
    color: transparent;
}

.content a {
    margin: 50px 0;
}

.next-btn {
    font-weight: 700;
    font-size: 25px;
    border: none;
    text-decoration: none;
    background-color: var(--main-colour);
    color: white;
    width: 200px;
    height: 68px;
    border-radius: 10px;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.note {
    padding: 30px 0;
}

.note,
.PS {
    width: 75%;
    text-align: center;
    font-size: 0.8rem;
}

.PS {
    padding-bottom: 10px;
}

.socials-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.socials {
    list-style: none;
    display: flex;
    column-gap: 1rem;
}

.social-wrapper {
    cursor: pointer;
}

.cause .choice {
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: center;
}

.cause .choice svg,
.cause .choice p  {
    justify-self: center;
}

.frequency {
    flex-basis: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 57px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--main-colour);
    background:linear-gradient(var(--main-colour),var(--)) center/1px 100% no-repeat;
    margin-bottom: 33px;
}

.selection-1 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.selection-1:first-child {
    border-radius: 8px 0 0 8px;
}

.selection-1:last-child {
    border-radius: 0 8px 8px 0;
}

.selection-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 33%;
    height: 51px;
    padding: 3px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 18px 21px;
    box-shadow: 0px 0px 30px 0px rgba(154, 154, 154, 0.75);
    position: relative;
    text-align: center;
}

.selection-3 {
    display: flex;
    align-items: center;
    width: 75%;
    height: 66px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid var(--main-colour);
    padding-left: 25px;
    margin-top: 10px;
}

.summary {
    color: black;
    width: 75%;
    text-align: left;
    margin: 20px 0 -30px;
    font-size: 1.2rem;
    font-weight: 400;
}

#otherChoice {
    text-align: left;
    width: 90%;
}

.top-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    padding-bottom: 10px;
}

.donation-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.donation-summary-header {
    font-size: 1.2rem;
    margin-bottom: 7px;
}

.donation-summary-amount {
    font-size: 2rem;
    font-weight: 600;
}

.donation-summary-footer {
    font-size: 0.8rem;
    margin: 15px 0;
}

.google-pay-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    margin: 0 2rem;
}

.google-pay-wrapper > button {
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.google-pay-wrapper > button:hover,
.login-btn:hover {
    transform: scale(0.99);
}

.card-payment {
    display: flex;
    justify-content: center;
    margin: 10px 2rem 20px;
}

.card-payment > p {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0;
    color: #696969;
}

.card-payment > p > span {
    background: #fff;
    padding: 0 20px;
}

.checkout-form {
    display: flex;
    justify-content: center;
    height: 100%;
}

.card-titles {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1.5rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#payment-form,
.google-pay-wrapper {
    margin: 0 2rem;
}

.credit-card-section {
    display: flex;
    flex-wrap: wrap;
}

.credit-card-containers,
.personal-containers {
    display: flex;
    flex-wrap: wrap;
}

.personal-section {
    margin-bottom: 20px;
}

.CC-Con,
.P-Con {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    padding: 0 0.3rem;
    background-color: #E2E8F0;
}

.choice:hover,
.selection-2:hover,
.CC-Con:focus-within,
.P-Con:focus-within {
    border: 1.5px var(--main-colour) solid;
}

.CC-Con > img,
.P-Con > img {
    padding: 0.375rem 0.75rem;
}

.card-label {
    display: block;
    margin-bottom: 10px;
    color: #718096;
}

.input-info {
    border: none;
    outline: none;
    width: 90%;
    height: 70px;
    padding: 0.375rem 0.75rem;
    color: black;
    background-color: #E2E8F0;
    font-size: 1.1em;
    font-weight: 400;
}

.input-info::placeholder {
    text-align: center;
}

.expiration {
    text-align: center;
}

#CVV-info {
    display: flex;
    gap: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.donate-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

#donate-btn {
    font-weight: 700;
    font-size: 20px;
    border: none;
    text-decoration: none;
    background-color: var(--main-colour);
    color: white;
    width: 201px;
    height: 64px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

#card-name,
#card-number,
#card-exp,
#card-cvv,
#first-name,
#last-name,
#email,
#phone,
#organization,
#address-1,
#address-2,
#country,
#city,
#province-state,
#postal-zip {
    width: 100%;
}

#card-exp {
    width: 45%;
}
    
#card-cvv {
    width: 55%;
    padding-left: 10%;
}

/* Tablet */
@media (min-width:769px) and (max-width:1024px) {
    body {
        height: 100vh;
    }

    .body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        min-height: 100%;
    }

    .right-side:not(.payment-information .right-side) {
        grid-template-rows: 50px auto auto auto;
    }

    .breadcrumbs-wrapper:not(.payment-information .breadcrumbs-wrapper) {
        margin-top: 0;
        font-size: 1.2rem;
    }

    .body > h4 {
        font-size: 2.5rem;
    }

    .login-wrapper {
        height: max-content;
    }

    .header {
        margin-top: 0;
        width: 60%;
    }

    .header > img {
        width: 100%;
    }

    .content:not(.payment-information .content) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .choice {
        margin: 20px;
    }

    .next-btn {
        width: 434px;
    }

    .footer {
        row-gap: 0;
        align-items: end;
        margin-bottom: 10px;
    }

    .note {
        padding: 0;
    }

    .selection-2 {
        flex-basis: 22%;
    }

    .donation-summary-header {
        font-size: 1.5rem;
    }
    
    .donation-summary-amount {
        font-size: 2.5rem;
    }
    
    .donation-summary-footer {
        font-size: 1rem;
    }

    .payment-information .breadcrumbs-wrapper {
        font-size: 1.2rem;
    }

    .credit-card-section > .card-titles,
    .top-form-group,
    .personal-section > .card-titles,
    .bottom-form-group {
        padding: 0 15px;
    }

    #card-name,
    #card-number,
    #organization,
    #address-1,
    #address-2 {
        flex: 0 0 auto;
        width: 100%;
    }
        
    #card-exp {
        flex: 0 0 auto;
        width: 33.3%;
    }
    
    #card-cvv {
        flex: 0 0 auto;
        width: 66.7%;
    }

    #first-name,
    #last-name,
    #email,
    #phone,
    #country,
    #city,
    #province-state,
    #postal-zip {
        flex: 0 0 auto;
        width: 50%;
    }

    #donate-btn {
        width: 40%;
    }

    .payment-information .footer {
        row-gap: 30px;
    }

    .payment-information .footer .note {
        margin-top: 10px;
        width: 90%;
    }
}


/* Desktop */
@media (min-width:1025px) {
    .left-side {
        display: inline;
        background-image: url(./images/Masjid-Toronto.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        width: 100%;
    }

    .right-side {
        width: 100%;
        height: 100vh;
        overflow: scroll;
    }

    .login-btn {
        width: 90px;
        height: 40px;
    }

    .header {
        margin-top: 0;
        width: 60%;
    }

    .header > img {
        width: 100%;
    }

    .breadcrumbs-wrapper:not(.payment-information .breadcrumbs-wrapper) {
        margin-top: 20px;
    }

    .body > h4 {
        font-size: 2rem;
        margin: 20px 0;
    }

    #search {
        width: 503px;
    }

    .content a {
        margin: 30px 0 20px;
    }

    .next-btn {
        width: 434px;
    }

    .footer {
        row-gap: .2rem;
    }

    .note {
        padding: 0;
    }

    .cause .choice {
        grid-template-columns: 20% 80%;
    }

    .selection-2 {
        flex-basis: 22%;
    }

    .summary {
        margin: 10px 0 -10px;
    }

    .donation-summary-header {
        font-size: 1.5rem;
    }
    
    .donation-summary-amount {
        font-size: 2.5rem;
    }
    
    .donation-summary-footer {
        font-size: 1rem;
    }
    
    .google-pay-wrapper {
        padding: 30px 15px;
    }

    .card-payment > p {
        margin: 10px 20px;
    }

    .credit-card-section > .card-titles,
    .top-form-group,
    .personal-section > .card-titles,
    .bottom-form-group {
        padding: 0 15px;
    }

    #card-name,
    #card-number,
    #organization,
    #address-1,
    #address-2 {
        flex: 0 0 auto;
        width: 100%;
    }
    
    #card-exp {
        flex: 0 0 auto;
        width: 33.3%;
    }
    
    #card-cvv {
        flex: 0 0 auto;
        width: 66.7%;
    }

    #first-name,
    #last-name,
    #email,
    #phone,
    #country,
    #city,
    #province-state,
    #postal-zip {
        flex: 0 0 auto;
        width: 50%;
    }

    #donate-btn {
        width: 40%;
    }

    .payment-information .footer {
        row-gap: 30px;
    }

    .payment-information .footer .note {
        margin-top: 10px;
        width: 90%;
    }
}